<h1>Contact Page</h1>

{{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
{{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
<button disabled={{isDisabled}} {{action 'sendMessage'}} class="btn btn-primary btn-lg btn-block">Send message</button>

{{#if responseMessage}}
 <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}

{{outlet}}
